.filterPage {
  background-image: url("/assets/background-imagee.webp");
  height: 420px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .userField {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;

    .fieldLabels {
      color: white;
      font-size: 24px;
      text-align: left;
      margin-top: 150px;
      padding-right: 200px;
    }

    .fieldItems {
      background-color: white !important;
      border-radius: 1px;
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.12);
      padding: 30px 50px;
      margin-top: 140px;
      display: flex;
    }
  }
}

@media only screen and (max-width: 670px) {
  .fieldItems {
    flex-direction: column;
    padding: 10px !important;
  }

  .fieldLabels {
    padding: 0px !important;
  }

  .inputField {
    padding: 10px 10px 0 10px !important;

    .input {
      margin-right: 0px !important;
    }
  }

  .searchButton {
    margin-right: 10px;
  }

  .calenderField {
    margin: 10px !important;
  }
}
