.categoryDetail {
  display: flex;
}
.detailCard {
  margin: 10px;
  position: relative;
  min-height: 150px;

  .detailHeaderECONOMY {
    background-color: #f4f5f8;
    border-left: 5px solid #1a4375;
  }

  .detailHeaderBUSINESS {
    background-color: #f3e5e0;
    border-left: 5px solid #ca7046;
  }

  .detailHeaderECONOMY,
  .detailHeaderBUSINESS {
    display: flex;
    align-items: center;
    padding: 10px 15px;

    .price {
      padding-left: 50px;

      .currency {
        font-size: 12px;
        font-weight: bold;
      }

      .count {
        font-weight: bold;
        margin-left: 5px;
      }
    }
  }

  .passegerRights {
    display: inline-block;
    text-align: center;
  }

  .addButton {
    position: absolute;
    bottom: 0px;
    right: 50%;

    button {
      position: absolute;
      margin-left: -50px;
      left: 50%;
      width: 100px;
      bottom: 0px;
      padding: 5px 10px;
    }
  }
}
