.App {
  text-align: center;
  font-size: 16px;

  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  button {
    background-color: #e81932;
    border: none;
    border-radius: 1px;
    color: white;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  header {
    background-color: #063048;
    display: flex;
    color: white;
    padding: 10px 20px;

    .logo {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
